@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none !important; // boo
}

.chalk {
  font-family: "Mansalva", cursive;
}

.score__item {
  &:not(:last-of-type) {
    border-bottom: 1px solid #cbd5e0;
  }
}
