@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-size: 24px;
}

.score__column {
  &:not(:last-of-type) {
    .score__item {
      border-right-width: 1px;
    }
  }
}

.score__item {
  height: 6rem;

  &:not(:last-of-type) {
    border-bottom-width: 1px;
  }
}
