@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none !important; // boo
}

.chalk {
  font-family: "Mansalva", cursive;
}

.refresh__icon {
  fill: white;
}
